html {
    font-family: sans-serif;
}

body {
    background-color:mediumseagreen;
}

h1 {
    text-align:center; 
    border: 4px solid black;
}
p {
    margin: 16px 0;
    padding: 4px;
    border: 2px solid black;
  }
  
  