html {
    font-family: sans-serif;
}

body {
    background-image: url(beach1.jpg);
    background-size: cover;
}

cat {
    margin-left: 25px;
    margin-right: 25px;
    width: 25%;
}
meow {
    width: 25%;
}
about {
    margin-left: 25px;
    margin-right: 25px;
}
