html {
    font-family: sans-serif;
}

body {
    background-image: url(beach1.jpg);
    background-size: cover;
}

.cat {
    margin-left: 25px;
    margin-right: 25px;
}

.about {
    margin-left: 25px;
    margin-right: 25px;
}
